.contributor__container {
    display: inline-block;
    padding: 0.4em;
    border-radius: 0.3em;
    border: 1px solid var(--secondary-border-color);
}

.contributor__header {
    display: flex;
    justify-content: center;
    gap: 0.2em
}

.contributor__authorUrl {
    display: flex;
    align-items: center;
}

.contributor__rol {
    font-size: 0.7em;
}

.contributor__organization {
    font-size: 0.6em;
}