.timerMain__mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 10vh;
    gap: 1em
}

.timerMain__controlsContainer {
    display: flex;
    gap: 0.8em;
}

.controls__button {
    min-width: 9.333em;
    min-height: 3.333em;
}

.time__divider {
    font-size: clamp(1.7em, 20vw, 4.7em);
}

.input {
    font-size: clamp(1.7em, 20vw, 4.7em);
    border: 0.01em solid transparent;
    font-weight: 700;
    letter-spacing: 0.01em;
    caret-color: transparent;
    text-align: center;
    width: 1.4em;
    padding: 0;
    background-color: transparent;
    min-height: 1em;
    border-radius: 0.1em;
}

.input:focus {
    border-color: var(--primary-border-color);
    background-color: transparent;
}

.input::selection {
    background-color: transparent;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.input[type=number]::-webkit-outer-spin-button,
.input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}