.wrap {
    width: 60%;
    margin: auto;
    margin: 1em auto;
    height: calc(100vh - 2em);
}

.mainSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5em;
    height: 100%;
}

.link {
    color: var(--secondary-text-color);
    cursor: pointer;
    padding: 0.25em 1em;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-border-color);
    min-height: 2.5em;
    border-radius: 0.5rem;
    padding: 0.25em 0.75em;
}
  
.link:hover {
    color: var(--terceary-text-color);
    background-color: var(--primary-border-color);
    border-color: var(--secondary-border-color);
}