.goal {
    width: 100%;
    position: relative;

    border-radius: 0.5em;

    background-color: var(--primary-border-color);
    border-color: var(--secondary-border-color);
}

.goal__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.8em;
    border-bottom: 0.0625em solid rgba(143 143 163 / 0.24);

    font-size: 0.8em;
    font-weight: 900;
}

.goal__footer {
    position: relative;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.goal__footer>button {
    background-color: var(--primary-border-color);
    border-color: var(--secondary-border-color);
}
