.section__title {
    display: inline-block;

    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.section__AllGoals {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    height: 11.5em;

    border-radius: 0.5em;
}

.goalsDesactivated {
    height: 19em;
}