* {
  box-sizing: border-box;
}

@font-face {
  font-family: public-sans;
  src: url('../node_modules/@fontsource/public-sans/files/public-sans-latin-400-normal.woff2') format('woff2');
}

:root {
  --primary-background-color: #131318;
  --secondary-background-color: #25252D;
  --terceary-background-color: rgba( 37 37 45 / 0.5);
  --primary-backdrop-filter: blur(8px);
  --primary-text-color: #ebebef;
  --secondary-text-color: #d8d8df;
  --terceary-text-color: #F7F7F8;
  --primary-border-color: #25252d;
  --secondary-border-color: #434356;
  --primary-font: public-sans, sans-serif;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}

a{
  color: var(--primary-text-color)
}

button {
  color: var(--secondary-text-color);
  cursor: pointer;
  padding: 0.25em 1em;
  font-size: 0.75em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  color: var(--primary-text-color); 
  font-family: var(--primary-font);
  outline: none;
}

button, input {
  background-color: transparent;
  border: 0.0625em solid var(--primary-border-color);
  min-height: 2.5em;
  border-radius: 0.5em;
  padding: 0.25em 0.75em;
}

.flex{
  display: flex;
}

.justify-items-center{
  justify-items: center;
}

button:hover, input:focus {
    color: var(--terceary-text-color);
    background-color: var(--primary-border-color);
    border-color: var(--secondary-border-color);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 0 0.1em;
  background-color: transparent;
  border: none;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb  {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--primary-text-color);
  outline: none;
  border: none;
  height: 0.45em;
}


input[type=range]::-webkit-slider-runnable-track,input[type=range]::-moz-range-track {
  background-color: var(--secondary-border-color);
  height: 0.13em;
}

@media screen and ( min-width: 1300px ) {
  body {
    font-size: 17px;
  }
}